<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Admin Dashboard</h2>
  <table border="1">
    <tr>
      <th>ID</th><th>Name</th><th>Email</th><th>Event</th><th>QR Code</th>
    </tr>
    {% for b in bookings %}
    <tr>
      <td>{{ b.id }}</td>
      <td>{{ b.name }}</td>
      <td>{{ b.email }}</td>
      <td>{{ b.event_name }}</td>
      <td><img src="/{{ b.qr_code }}" width="100"></td>
    </tr>
    {% endfor %}
  </table>
  <a href="/" class="btn">Home</a>
</body>
</html>
